# --- Python ---
__pycache__/
*.py[cod]
*.pkl
*.joblib
*.h5
*.log
*.csv.7z

# --- Jupyter Notebook Checkpoints ---
.ipynb_checkpoints

# --- VS Code Settings ---
.vscode/

# --- System Files ---
.DS_Store
Thumbs.db

# --- Data Files ---
data/
!data/data_utils.py
!data/__init__.py
!data/retail_kaggle_data/transactions.csv
!data/retail_kaggle_data/test.csv
!data/retail_kaggle_data/train.csv

# --- App Code (versioning only relevant files) ---
app/
!app/app.py
!app/config.py
!app/__init__.py

# --- Model Code ---
model/
!model/model_utils.py
!model/__init__.py

# --- Notebooks (only 1_ and 2_) ---
notebooks/
!notebooks/1_TS_Project_Favorita_Grocery_Sales_Preprocessing.ipynb
!notebooks/2_TS_Project_Favorita_Grocery_Sales_Forecasting.ipynb

# --- MLflow Runs & Model Checkpoints ---
mlruns/
model/scaler/
model/xgb/archive/
model/lstm/
