# --- Python ---
__pycache__/
*.py[cod]
*.pkl
*.joblib
*.h5
*.log

# --- Data Files ---
*.csv
*.7z
*.zip

# --- Jupyter Notebook Checkpoints ---
.ipynb_checkpoints

# --- VS Code Settings ---
.vscode/

# --- System Files ---
.DS_Store
Thumbs.db

# --- Whitelisted App Code ---
!app/
!app/app.py
!app/config.py
!app/__init__.py
!app/app_screenshot.png

# --- Whitelisted Data Code ---
!data/
!data/data_utils.py
!data/__init__.py

# --- Notebook Control ---
!notebooks/
!notebooks/1_TS_Project_Favorita_Grocery_Sales_Preprocessing.ipynb
!notebooks/2_TS_Project_Favorita_Grocery_Sales_Forecasting.ipynb
notebooks/3_TS_Project_Favorita_Grocery_Sales_Backup.ipynb
notebooks/*.png

# --- Model Logic ---
!model/
!model/model_utils.py
!model/__init__.py

# --- Exclude Runs & Artifacts ---
mlruns/
model/scaler/
model/xgb/archive/
model/lstm/
